html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.h-100 {
    height: 100%;
}

/* 浏览器滚动条样式相关 */
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(100, 100, 100, 0.2);
}

/* table样式修改 */
.el-collapse {

    .el-collapse-item__wrap,
    .el-table,
    .el-table__expanded-cell {
        background-color: transparent;
    }

    .el-collapse-item__header {
        background-color: transparent;
        border-bottom: 0;
        font-size: 18px;
    }

    .el-table th,
    .el-table tr {
        font-weight: normal;
        background-color: transparent;
    }
}

.el-collapse {
    border-top: none;
}

.el-menu {
    border-right: 0;
}

.pop-dialog .el-dialog {
    width: 630px;
}

.pop-form {
    width: 600px;

    .el-form-item__label {
        width: 160px;
    }

    .el-form-item__content {
        margin-left: 160px;
        margin-right: 120px;
    }

    .el-select {
        width: 100%;
    }

    .codeWrapper {
        .el-form-item__content {
            margin-right: 20px;
        }
    }
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.clear-fix:after {
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}

.cfg-list {
    .group-item {
        width: 100% !important;
        line-height: 40px !important;
        border: 1px dashed #77bdff;
    }
}

.pro-title {
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid $border-color;
}

.title-tab {
    font-size: 12px;

    .el-tabs__header {
        margin-bottom: 0;
    }

    .el-tabs__nav {
        width: 100%;
        border: 0 !important;

        .el-tabs__item {
            width: 50%;
            text-align: center;
        }
    }
}