$main-color: #409eff;

$bg-color: #fff;
$bg-color-main: #50bfff;
$bg-color-light: #ecf8ff;
$bg-color-mid: rgba(80, 191, 255, .2);

$border-color: #dcdfe6;

$font-color:#5e6d82;
$font-color-light:#888;
$font-main-color: #1989fa;
$font-main-color-active: rgba(25, 137, 250, 0.5);